<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <title>HeritArt</title>
</head>

<body style="background: url('/general/background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh">
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">HeritArt</a>
    <div class="collapse navbar-collapse">

      <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/Home'}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle active" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Aggiungi
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
            <li><a class="dropdown-item" th:href="@{'/Gestore/newAsta'}">Asta</a></li>
            <li><a class="dropdown-item active" th:href="@{'/Gestore/newOpera'}">Opera</a></li>
          </ul>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex">
        <li class="nav-item">
          <a class="nav-link"><span class="bi bi-person-fill"></span> <span th:text="${name}"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{'/logout'}"><span class="bi bi-door-open-fill"></span> Logout</a>
        </li>
      </ul>

    </div>
  </div>
</nav>

<div class="container my-4" style="text-align: center">
  <img src="/general/heritart-logo.png">
</div>

<div th:if="${error}" class="alert alert-danger w-50 mx-auto" role="alert" id="alert">
  <span th:text="${error}"></span>
</div>
<div th:if="${success}" class="alert alert-success w-50 mx-auto" role="alert">
  <span th:text="${success}"></span> Ritorna alla <a th:href="@{/Home}">Home</a>.
</div>

<div class="container border border-primary rounded w-50 px-5 py-2 mx-auto my-3" style="background-color: white; opacity: 0.8; text-align: center">
  <h2>Nuova opera</h2>

  <form th:action="@{'/Gestore/newOpera'}" method="post" class="row g-3" enctype="multipart/form-data">

    <div class="col-md-6 pt-3 px-5">
      <label for="titolo" class="form-label">Titolo</label>
      <input type="text" class="form-control" id="titolo" name="titolo" pattern="\S+.*" required>
    </div>

    <div class="col-md-6 pt-3 px-5">
      <label for="artista" class="form-label">Artista</label>
      <input type="text" class="form-control" id="artista" name="artista" pattern="\S+.*" required>
    </div>

    <div class="col-md-4 pt-4">
      <label for="anno" class="form-label">Anno</label>
      <input type="number" class="form-control" id="anno" name="anno" min="0" max="2023" required>
    </div>

    <div class="col-md-4 pt-4">
      <label for="provenienza" class="form-label">Provenienza</label>
      <input type="text" class="form-control" id="provenienza" name="provenienza" pattern="\S+.*" required>
    </div>

    <div class="col-md-4 pt-4">
      <label for="tipologia" class="form-label">Tipologia</label>
      <select class="form-select" id="tipologia" name="tipologia" onchange="yesnoCheck(this);" required>
        <option th:each="tipologia : ${tipologiaList}"
                th:value="${tipologia}" th:text="${tipologia}"></option>
      </select>
    </div>

    <div class="col-12 py-4">
      <label for="descrizione" class="form-label">Descrizione</label>
      <textarea class="form-control" id="descrizione" name="descrizione" rows="3"></textarea>
    </div>

    <div class="col-md-2 ps-5">
      <label for="dim1" class="form-label">L</label>
      <input type="number" class="form-control" id="dim1" name="dim1" min="0" placeholder="cm">
    </div>
    <div class="col-md-2 px-4">
      <label for="dim2" class="form-label">W</label>
      <input type="number" class="form-control" id="dim2" name="dim2" min="0" placeholder="cm">
    </div>
    <div class="col-md-2 pe-5">
      <label for="dim3" class="form-label">H</label>
      <input type="number" class="form-control" id="dim3" name="dim3" min="0" placeholder="cm" disabled>
    </div>

    <div class="col-md-3 ps-4">
      <label for="proprieta" class="form-label">Proprietà</label>
      <select class="form-select" id="proprieta" name="proprieta" required>
        <option th:each="proprieta : ${proprietaList}"
                th:value="${proprieta}" th:text="${proprieta.name}"></option>
      </select>
    </div>

    <div class="col-md-3 pe-4">
      <label for="condizioni" class="form-label">Condizioni</label>
      <select class="form-select" id="condizioni" name="condizioni" required>
        <option th:each="condizione : ${condizioniList}"
                th:value="${condizione}" th:text="${condizione.name}"></option>
      </select>
    </div>

    <div class="col-md-4 pt-5">
      <label for="correnteArtistica" class="form-label">Corrente artistica</label>
      <select class="form-select" id="correnteArtistica" name="correnteArtistica">
        <option value="" selected>--</option>
        <option th:each="correnteArtistica : ${correnteArtisticaList}"
                th:value="${correnteArtistica}" th:text="${correnteArtistica.name}"></option>
      </select>
    </div>

    <div class="col-md-4 pt-5">
      <label for="tecnica" class="form-label">Tecnica</label>
      <select class="form-select" id="tecnica" name="tecnica">
        <option value="" selected>--</option>
        <option th:each="tecnica : ${tecnicaList}"
                th:value="${tecnica}" th:text="${tecnica.name}"></option>
      </select>
    </div>

    <div class="col-md-4 pt-5">
      <label for="materiale" class="form-label">Materiale</label>
      <select class="form-select" id="materiale" name="materiale" disabled>
        <option value="" selected>--</option>
        <option th:each="materiale : ${materialeList}"
                th:value="${materiale}" th:text="${materiale}"></option>
      </select>
    </div>

    <div class="col-md-9 pt-4 px-5">
      <label for="files" class="form-label">Carica foto</label>
      <input type="file" class="form-control" id="files" name="files" accept="image/*" multiple/>
    </div>

    <div class="col-md-3 pt-4 pe-5">
      <label for="baseAsta" class="form-label">Base d'asta</label>
      <div class="input-group">
        <span class="input-group-text">€</span>
        <input type="number" class="form-control" id="baseAsta" name="baseAsta" value="0" min="0" step="50">
      </div>
    </div>

    <div class="col-12 pt-4" id="gallery" style="display: none;">
      <button type="button" class="btn btn-danger" id="delete">Rimuovi</button>
      <div class="gallery"></div>
    </div>

    <div class="col-12 py-4">
      <button type="submit" class="btn btn-primary btn-lg">Aggiungi</button>
    </div>

  </form>

</div>


</body>
<script>
  function yesnoCheck(that) {
    if (that.value == "Scultura") {
        document.getElementById("materiale").removeAttribute("disabled");
        document.getElementById("dim3").removeAttribute("disabled");
    } else {
        document.getElementById("materiale").setAttribute("disabled","disabled");
        document.getElementById("dim3").setAttribute("disabled","disabled");
        document.getElementById("materiale").value = "";
        document.getElementById("dim3").value = 0
    }
  }

  $(function() {

      function imagesPreview(input, placeToInsertImagePreview) {

          if (input.files) {

              $('#gallery').show();

              $("img").remove();

              var filesAmount = input.files.length;

              for (i = 0; i < filesAmount; i++) {
                  var reader = new FileReader();

                  reader.onload = function(event) {
                      $($.parseHTML('<img>'))
                      .attr('src', event.target.result)
                      .attr('width', 200)
                      .attr('style', "margin:10px 10px").appendTo(placeToInsertImagePreview);
                  }

                  reader.readAsDataURL(input.files[i]);
              }


          }

      };

      $('#delete').on('click', function() {
          $("img").remove();
          $('#gallery').hide();
          $('#files').val('');
      });


      $('#files').on('change', function() {
          imagesPreview(this, 'div.gallery');
      });



  });
</script>